version: '3.7'

services:
  datavi-service-api:
    build: .
    image: cpf/datavi-api:0.0.1
    container_name: cpf-datavi-api
    network_mode: "host"
    # command: "./stakeholder-api"
    restart: on-failure
    # expose:
    #  - "5000"

    ports:
      - "8109:8109"
    networks:
      - datavi-api-network

networks:
  datavi-api-network:
    name: datavi-api-network
